body {
	background-color: #ddd;
	font-family: 'Inconsolata', monospace, serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: x-large;
	margin: 0 0 10px 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a, a:visited {
	color: darkblue;
}

table, tr, td {
	border-collapse:collapse;
}

input {
	margin: 0;
	padding: 1px 2px;
}

/** page parts */
.header, .footer {
	background-color: #234F32;
	padding: 10px 20px;
	color: white;
}

.footer, .footer a {
	color: #ddd;
	font-size: small;
}

.footer span {
	margin: 0px 10px;
}

.content, .details {
	background-color: white;
}

.content {
	padding: 10px;
}

/** buttons and controls */
.controls {
	background-color: #335f42;
	color: white;
	padding: 4px 8px;
}

.details {
	background-color: #335f42;
	border-top: solid 1px #aaa;
	color: white;
	display: none;
	font-size: small;
	padding: 15px 12px;
}

.stats {
	font-size: larger;
	color: white;
	font-weight: bold;
	margin: 10px 0px;
	padding: 4px 5px 2px 5px;
}

.stats.result-8 {
	background-color: #DF2626;
}

.stats.result-9 {
	background-color: #4E9A06;
}

.casename:hover {
	text-decoration: underline;
}

.summary {
	border-bottom: solid 1px transparent;
}
.summary:hover {
	background-color: yellow;
	border-bottom: dotted 1px black;
}

.task {
	border: solid 1px transparent;
}
.task:hover {
	border: solid 1px black;
}

/** test backgrounds */
.keywords.result-1 {
	background-color: #f5fff5;
}

.result-0, .result-0 .view,
.keywords.result-0 {
	background-color: #fee;
}

.result-0 .result-0, .result-0 .result-0 .view {
	background-color: #fdd;
}

.result-0 .result-0 .result-0  {
	background-color: #fcc;
}


/** result indicators */
.result {
	color: #777;
    font-weight: bold;
}

.result-0 > .result,
.result-0 > .summary > .result,
.result-3 > .summary > .result {color: #DF2626;}


.result-1 > .result,
.result-1 > .summary > .result {color: #4E9A06;}

.result-6 > .summary > .result {color: #f88;}

.result-5 > .summary > .result,
.result-7 > .summary > .result {color: #AD7FA8;}

.testname {
	margin-right: 10px;
}

.description  {
	margin-left: 10px;
}

.shadow, .auto-condition {
	color: #777;
}

.auto-condition {
	display: none;
}

.keywords {
	position: fixed;
	top: 30px;
	right: 30px;

	background-color: white;
	border: solid 1px #ccc;
	display: none;
	font-size: small;
	margin: 0;
	padding: 10px 20px;
}

.keywords tr, .keywords td {
	padding: 0 5px;
}

.keywords tr {
	border-top: solid 1px #ddd;
}

.keywords td {
	vertical-align: top;
}

.keywords .name, .keywords th {
	background-color: #ccc;
	font-size: normal;
	font-weight: bold;
	padding-left: 5px;
	text-align: left;
}

.files, .generated {
	font-size: small;
}

.generated {
	display:none;
}

.reason, .reason .summary, .reason .view {
	font-size: small;
	display: inline;
}

/* show/hide features */
.summary {
	cursor: pointer;
}

.view {
	margin-left: 20px;
	margin-bottom: 2px;
	background-color: #f5fff5;
}
