.. _keywords:

Task keywords
=============

Any Test constructor accepts the next key-val parameters. All of them
are optional. Beside the parameter's name appears its type and
default value.

{% for name, record in keywords %}
**{{name}}** -- type: ``{{ record.str_type}}``, default: ``{{record.default}}``

   {{record.desc}}.
{% endfor %}


.. note::

   Not all of these key-args are available for all Task classes. See :ref:`task_types`.


.. Local variables:
.. mode: rst
..   coding: utf-8
..   ispell-local-dictionary: "american"
.. End:
