.. _task_types:

Task classes
============

``Task`` is the base class for all executable items. All the "things" that you
create in a .test file are ``Task`` subclass instances although the ``Task``
itself is not usable.

.. function:: Test(command, [key-vals])

  It is the very basic (and common) atheist primitive for system testing. It
  executes the given command and checks its return value. If that value differs
  from expected, the test fails.


``Test()`` is the primary way to create system tests with atheist, but many
other task kind are available (on the core o with a plugin). All of then are
listed bellow (in alphabetical order):

{% for task in tasks %}
.. _{{task.__name__}}:
.. function:: {{task.__name__}} {{task.args}}

    {{ "[**plugin:** %s]" % task.plugin if task.plugin is defined}}

{{task.doc}}
{% endfor %}

.. FIXME: Include TaskFactories


.. Local Variables:
..  mode: rst
..  coding: utf-8
..  mode: flyspell
..  ispell-local-dictionary: "american"
.. End:
